{% extends "new_base.html" %}

{% block content %}
<div class="table-card">
    <div class="row py-3 px-2">
        <div class="col">
            <h3 class="fw-bold">INVENTORY LOGS</h3>
        </div>
        <div class="col">
      
      <form method="POST">
            {% csrf_token %}
            <div class="input-group">
              <span class="input-group-text bg-white"><i class="bi bi-search"></i></span>
              <input type="text" class="form-control" id="name" name="name" placeholder="Search stock items...">
              <button class="btn btn-primary" type="submit">
                <i class="bi bi-search me-1"></i>Search
              </button>
            </div>
          </form>
  
    </div>
    </div>
 
    <div class="loader" id="loader"></div>

    <!-- Table Container -->
    <div class="table-container px-2">
        <table class="table data-table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
              <th scope="col">Actioned By</th>
              <th scope="col">Item</th>
              <th scope="col">Quantity</th>
              <th scope="col">Action</th>
              <th scope="col">Destination</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for stock in page_obj %}
            <tr>
              <td>{{stock.id}}</td>
              <td>{{stock.actioned_by}}</td>
              <td>{{stock.inventory}}</td>
              <td>{{stock.quantity}}</td>
              <td>{{stock.action}}</td>
              <td>{{stock.destination}}</td>
              
            </tr>
            
            {% endfor %}
            </tbody>
        </table>
    </div>

     <!-- Table Footer with Pagination -->
    <div class="table-footer">
        <div class="page-info">
            Showing 
            {{ page_obj.start_index }} 
            to 
            {{ page_obj.end_index }} 
            of 
            {{ paginator.count }} 
            entries
        </div>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
    </div>
</div>



{% endblock content %}