{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Menu Today</h3>
    </div>
    <div class="col">
        <a class="btn btn-success" data-bs-toggle="modal" id="newMenuButton" data-bs-target="#newMenuItemModal">New Menu Item</a>
    </div>
</div>

<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Last Update</th>
              <th scope="col"></th>
              <th scope="col">Item</th>
              <th scope="col">Starting Stock</th>
              <th scope="col">Ending Stock</th>
              <th scope="col">Price</th>
              <th scope="col" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for menu in page_obj %}
            <tr>
              <td>{{menu.id}}</td>
              <td>{{menu.updated_today}}</td>
              <td>
                <img src="{{menu.image.url}}" height="35" />
              </td>
              <td>{{menu.item}}</td>
              <td>{{menu.starting_stock}}</td>
              <td>{{menu.quantity}}</td>
              <td>{{menu.price}}</td>
              {% if menu.updated_today == date_today %}
              <td><a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#editMenuItemAmountModal{{ menu.id }}">
                <i class="bi bi-plus-lg"></i>
              </a></td>
              {% else %}
              <td><a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#editMenuItemModal{{ menu.id }}">
                <i class="bi bi-pencil-square"></i>
              </a></td>
              {% endif %}
              <td><a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteMenuItemModal{{ menu.id }}">
                <i class="bi bi-trash"></i>
              </a></td>
            </tr>
            
            {% include "menus/delete_menu.html" %}
            {% include "menus/edit_menu.html" %}
            {% include "menus/edit_menu_item.html" %}

            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}