{% extends "base.html" %}

{% block content %}
<div class="row">
    <h3>Student Details</h3>
    <hr/>
    <div class="col">
        <p>Name: {{student.user.name}}</p>
        <p>Reg. Number: {{student.registration_number}}</p>
    </div>
    <div class="col">
        <p>Wallet Balance: {{student.wallet_balance}}</p>
        <p>Total Orders: {{student.total_orders}}</p>
    </div>
</div>
<hr/>
<div class="row">
    <h3>Student Orders</h3>
</div>

<hr/>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Created</th>
              <th scope="col">Served By</th>
              <th scope="col">Student</th>
              <th scope="col">Cost</th>
              <th scope="col">Meal Time</th>
              <th scope="col">Status</th>
              <th scope="col" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for order in page_obj %}
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.created}}</td>
              <td>{{order.served_by}}</td>
              <td>{{order.student}}</td>
              <td>{{order.total_cost}}</td>
              <td>{{order.meal_time}}</td>
              <td>{{order.status}}</td>
              <td><a class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#voidOrderModal{{ order.id }}">Void</a></td>
              <td><a href="{% url 'print-order' order.id %}" class="btn btn-info btn-sm">Print</a></td>
            </tr>
            {% include "orders/void_order.html" %}
            
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}