{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-6">
        <h3>Student Wallets List</h3>
    </div>
    <div class="col-6">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="row">
            <div class="col-8">
              <input type="text" class="form-control" id="reg_number" name="reg_number" placeholder="Reg. Number" >
            </div>
            <div class="col-4">
              <button class="btn btn-primary">Search</button>
            </div>
          </div>
          
        </div>
        
      </form>
    </div>
</div>
<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Student</th>
              <th scope="col">Daily Limit</th>
              <th scope="col">Spend Today</th>
              <th scope="col">Balance</th>
              <th scope="col">Quota Generated?</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for student_wallet in page_obj %}
            <tr>
              <td>{{student_wallet.id}}</td>
              <td>{{student_wallet.student}}</td>
              {% if student_wallet.student.student_type == "Boarder" %}
              <td>Kes. 350</td>
              {% else %}
              <td>No Limit</td>
              {% endif %}
              <td>{{student_wallet.total_spend_today}}</td>
              <td>{{student_wallet.balance}}</td>
              <td>
                {{student_wallet.today_quota_generated}}
              </td>
              <td><a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#rechargeRequestModal">Recharge</a></td>
              
            </tr> 
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}