<div class="modal fade" id="editStudentModal{{student.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Student</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="/students/edit-student/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="mb-2">
                    
                    <input
                        type="text"
                        class="form-control"
                        id="student_id"
                        name="student_id"
                        value="{{student.id}}"
                        hidden
                        required
                    />
                    </div>
                    <div class="mb-2">
           
                    <input
                        type="text"
                        class="form-control"
                        id="user_id"
                        name="user_id"
                        value="{{student.user.id}}"
                        hidden
                        required
                    />
                    </div>
                <div class="mb-2">
                  <label for="exampleInputPassword1" class="form-label">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="first_name"
                    name="first_name"
                    value="{{student.user.first_name}}"
                    required
                  />
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Last Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="last_name"
                      name="last_name"
                      value="{{student.user.last_name}}"
                      required
                    />
                  </div>
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Reg. Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="reg_number"
                      name="reg_number"
                      value="{{student.registration_number}}"
                      required
                    />
                  </div>
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">ID Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="id_number"
                      value="{{student.user.id_number}}"
                      name="id_number"
                    />
                  </div>
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="phone_number"
                      name="phone_number"
                      value="{{student.user.phone_number}}"
                      required
                    />
                  </div>
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      value="{{student.user.email}}"
                      required
                    />
                  </div>
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      name="username"
                      value="{{student.user.username}}"
                      required
                    />
                  </div>
                  
                  <div class="mb-2">
                    <label class="form-label">Gender</label>
                    <select class="form-select" id="gender" name="gender" value="{{student.gender}}">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                  </div>

                  <div class="mb-2">
                    <label class="form-label">Student Type</label>
                    <select class="form-select" id="student_type" name="student_type" value="{{student.student_type}}">
                        
                        <option value="Boarder">Boarding Student</option>
                        <option value="Prepaid">Prepaid Student</option>
                        <option value="One-Time">Pay As You Go Student</option>
    
                      </select>
                  </div>
                
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit Student</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>