{% extends "new_base.html" %}

{% block content %}
<div class="table-card">
    <div class="row py-3 px-2">
        <div class="col">
            <h3 class="fw-bold">SUPPLIERS</h3>
        </div>
        <div class="col">
            <form method="POST">
            {% csrf_token %}
            <div class="input-group">
              <span class="input-group-text bg-white"><i class="bi bi-search"></i></span>
              <input type="text" class="form-control" id="name" name="name" placeholder="Search suppliers...">
              <button class="btn btn-primary" type="submit">
                <i class="bi bi-search me-1"></i>Search
              </button>
            </div>
          </form>
        </div>
        <div class="col text-end">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newSupplierModal">New Supplier</button>
          </div>
    </div>
 
    {% include "suppliers/new_supplier.html" %}
    <div class="loader" id="loader"></div>

    <!-- Table Container -->
    <div class="table-container px-2">
        <table class="table data-table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Email</th>
              <th scope="col">Address</th>
              <th scope="col" colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for supplier in page_obj %}
            <tr>
              <td>{{supplier.id}}</td>
              <td>{{supplier.name}}</td>
              <td>{{supplier.phone_number}}</td>
              <td>{{supplier.email}}</td>
              <td>{{supplier.address}}</td>

              <td>
                <a href="{% url 'supplier-details' supplier.id %}" class="btn btn-info btn-sm">
                  <i class="bi bi-eye"></i>
                </a>
              </td>
              <td><a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editSupplierModal{{ supplier.id }}">
                <i class="bi bi-pencil-square"></i>
              </a></td>
              <td><a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteSupplierModal{{ supplier.id }}">
                <i class="bi bi-trash"></i>
              </a></td>
              
            </tr>
            {% include "suppliers/edit_supplier.html" %}
            {% include "suppliers/delete_supplier.html" %}
            {% endfor %}
            </tbody>
        </table>
    </div>

     <!-- Table Footer with Pagination -->
    <div class="table-footer">
        <div class="page-info">
            Showing 
            {{ page_obj.start_index }} 
            to 
            {{ page_obj.end_index }} 
            of 
            {{ paginator.count }} 
            entries
        </div>
      <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
    </div>
</div>

{% endblock content %}