{% extends "base.html" %}

{% block content %}
<div class="row">
    <h3>Supplier Details</h3>
    <hr/>
    <div class="col">
        <p>Name: {{supplier.name}}</p>
        <p>Phone Number: {{supplier.phone_number}}</p>
    </div>
    <div class="col">
        <p>Email: {{supplier.email}}</p>
        <p>Address: {{supplier.postal_address}}, {{supplier.town}}-{{supplier.country}}</p>
    </div>
    <div class="col">
        <p>Amount Paid: {{supplier.total_paid}}</p>
        <p>Amount Owed: {{supplier.amount_owed}}</p>

    </div>
</div>
<hr/>
<div class="row">
    <div class="col">
        <h3>Items Supplied</h3>
    </div>
    <div class="col">
        <h3>Total Supplies Cost: {{supplier.total_supplies_cost}}</h3>
    </div>
</div>

<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Supply Name</th>
              <th scope="col">Quantity Supplied</th>
              <th scope="col">Price</th>
              <th scope="col">Cost</th>
              <th scope="col">Amount Paid</th>
              <th scope="col">Amount Due</th>
              <th scope="col">Payment Method</th>
              
            </tr>
          </thead>
          <tbody>
            {% for supply in page_obj %}
            <tr>
              <td>{{supply.id}}</td>
              <td>{{supply.item}}</td>
              <td>{{supply.quantity_supplied}} {{supply.supply_unit}}</td>
              <td>{{supply.unit_price}}</td>
              <td>{{supply.total_cost}}</td>
              <td>{{supply.amount_paid}}</td>
              <td>{{supply.amount_due}}</td>
              <td>{{supply.payment_method}}</td>
              <td><a class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#paySupplierModal{{ supply.id }}">
                Make Payment
              </a></td>
            </tr>
            {% include "suppliers/pay_supplier.html" %}
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}