<div class="modal fade" id="rechargeWalletModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Lipa Na Mpesa</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="/students/recharge-wallet/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="mb-2">
                  <label for="exampleInputPassword1" class="form-label">Registration Number</label>
                  <input
                    type="text"
                    class="form-control"
                    id="reg_number"
                    name="reg_number"
                    required
                  />
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Phone Number</label>
                    <input
                      type="text"
                      class="form-control"
                      id="phone_number"
                      name="phone_number"
                      required
                    />
                  </div>
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Amount</label>
                    <input
                      type="text"
                      class="form-control"
                      id="amount"
                      name="amount"
                      min="1"
                      required
                    />
                  </div>
                  
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Lipa Na Mpesa</button>
                  <button type="submit" class="btn btn-primary">Lipa Na Mpesa</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>