<div class="modal fade" id="rechargeRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">STUDENT WALLET RECHARGE</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'recharge-wallet' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="mb-2">
                  <label for="exampleInputPassword1" class="form-label">Reg. Number</label>
                  <input
                    type="text"
                    class="form-control"
                    id="reg_number"
                    name="reg_number"
                    placeholder="Registration Number ..."
                    required
                  />
                </div>
              
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Amount</label>
                    <input
                      type="number"
                      class="form-control"
                      id="amount"
                      name="amount"
                      placeholder="Amount..."
                      min="1"
                      required
                    />
                  </div>
                
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Payment Method</label>
                    <select class="form-select" id="recharge_method" name="recharge_method">
                        
                        <option value="mpesa">Mpesa</option>
                        <option value="manually">Manually</option>
                       
                      </select>
                  </div>
                  <br>
                <div class="text-center">
                  <button type="submit" class="btn btn-success">Recharge Wallet</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>