<div class="modal fade" id="newStockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Record Stock</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="/inventory/record-stock/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="mb-2">
                    <label class="form-label">Supplier</label>
                    <select class="form-select" id="supplier_id" name="supplier_id" required>
                      {% for supplier in suppliers %}
                        <option value="{{supplier.id}}">{{supplier.name}}</option>
                      {% endfor %}
                      </select>
                  </div>
                <div class="mb-2">
                  <label for="exampleInputPassword1" class="form-label">Item Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    required
                  />
                </div>
                <div class="mb-2">
                    <label class="form-label">Unit</label>
                    <select class="form-select" id="unit" name="unit">
                        <option value="Kg">Kilograms (KG) </option>
                        <option value="Grams">Grams (g)</option>
                        <option value="Litres">Litres (L)</option>
                        <option value="Boxes">Boxes</option>
                        <option value="Cartons">Cartons</option>
                        <option value="Metres">Metres</option>
                        <option value="Pieces">Pieces</option>
                      </select>
                  </div>

                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Buying Price</label>
                    <input
                      type="text"
                      class="form-control"
                      id="unit_price"
                      name="unit_price"
                      required
                    />
                  </div>
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Selling Price</label>
                    <input
                      type="text"
                      class="form-control"
                      id="selling_price"
                      name="selling_price"
                    />
                  </div>
                  <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Quantity</label>
                    <input
                      type="text"
                      class="form-control"
                      id="stock"
                      name="stock"
                      required
                    />
                  </div>
                  
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit Stock</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>