{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="card m-2" style="width: 16rem; height: 150px;">
        <div class="card-body">
          <h5 class="card-title">Students Registered</h5>
          <hr/>
          <p class="card-text">Students Count: {{students}}</p>
          <a href="#"></a>
        </div>
      </div>
      <div class="card m-2" style="width: 16rem; height: 150px;">
       
        <div class="card-body">
          <h5 class="card-title">Staff</h5>
          <hr/>
          <p class="card-text">Staff Count: {{staffs}}</p>
        </div>
      </div>
      <div class="card m-2" style="width: 16rem; height: 150px;">
        <div class="card-body">
          <h5 class="card-title">Orders Placed Today</h5>
          <hr/>
          <p class="card-text">Orders Count: {{orders_today}}</p>
         
        </div>
      </div>
      <div class="card m-2" style="width: 16rem; height: 150px;">
        <div class="card-body">
          <h5 class="card-title">Orders This Week</h5>
          <hr/>
          <p class="card-text">{{week_orders_count}}</p>
          <a href="#"></a>
        </div>
      </div>
      <div class="card m-2" style="width: 16rem; height: 150px;">
        <div class="card-body">
          <h5 class="card-title">Orders This Month</h5>
          <hr/>
          <p class="card-text">{{month_orders_count}}</p>
          <a href="#"></a>
        </div>
      </div>
      <div class="card m-2" style="width: 16rem; height: 150px;">
        <div class="card-body">
          <h5 class="card-title">Sales</h5>
          <hr/>
          <p class="card-text">{{month_orders_count}}</p>
          <a href="#"></a>
        </div>
      </div>
  
</div>
{% endblock %}