<div class="modal fade" id="confirmOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Place/Confirm Order</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'confirm-order' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="mb-2">
                    <p>Student Name: <b>{{student.user.name}}</b></p>
                    <p>Reg. Number: <b>{{student.registration_number}}</b></p>
                    <p>Current Bal: <b>{{student.wallet_balance}}</b></p>
                    
                      <span id="result"></span>
                    </b></p>
                </div>
                <div class="input-group mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="student_id"
                      name="student_id"
                      value="{{student.id}}"
                      readonly
                      required
                      hidden
                    />
                  </div>
                
                  <div class="input-group mb-2">
                    <span class="input-group-text">Order Total: </span>

                    <input
                      type="number"
                      class="form-control"
                      id="order_value"
                      name="order_value"
                      value="{{order_value}}"
                      readonly
                      required
                    />
                  </div>

                  <div class="mb-2">
                    <label class="form-label">Order Meal Time</label>
                    <select class="form-select" id="meal_time" name="meal_time">
                        
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Supper">Supper</option>
                
                      </select>
                  </div>
                 
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Close</button>
                    <button type="submit" class="btn btn-danger">Yes, Proceed</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>

<script>
</script>