{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Orders</h3>
    </div>
    <div class="col">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="row">
            <div class="col-7">
              <input type="text" class="form-control" name="reg_number" id="reg_number" placeholder="Order ID ...">
            </div>
            <div class="col-5">
              <button class="btn btn-success">Search</button>
            </div>
          </div>
          
        </div>
        
      </form>
    </div>
</div>

<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Order ID</th>
              <th scope="col">Ordered At.</th>
              <th scope="col">Served By</th>
              <th scope="col">Student</th>
              <th scope="col">Cost</th>
              <th scope="col">Status</th>
              <th scope="col">Payment Method</th>
              <th scope="col" colspan="3">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for order in page_obj %}
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.created}}</td>
              <td>{{order.served_by}}</td>
              <td>{{order.student.user.name}}</td>
              <td>{{order.total_cost}}</td>
              <td>{{order.status}}</td>
              <td>{{order.payment_method}}</td>
              <td>
                <a href="#" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#orderItemsModal{{ order.id }}"><i class="bi bi-eye-fill"></i></a>
              </td>
              <td><a class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#voidOrderModal{{ order.id }}">Void</a></td>
              <td><a href="{% url 'print-order' order.id %}" class="btn btn-warning btn-sm">
                <i class="bi bi-printer"></i>
              </a></td>
            </tr>
            
            {% include "orders/delete_order.html" %}
            {% include "orders/edit_order.html" %}
            {% include "orders/void_order.html" %}
            {% include "orders/order_items.html" %}
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}