{% extends "base.html" %}

{% block content %}
<p>Hello, {{student.registration_number}}</p>

<div class="row">
    <div class="col">
        <h3 class="text-center">Cart Items</h3>
        <hr/>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item</th>
                  <th scope="col">Price</th>
                  <th scope="col" colspan="2">Price</th>
                </tr>
              </thead>
              <tbody>
                {% for order_item in items %}
                <tr>
                  <td>{{order_item.id}}</td>
                  <td>{{order_item.menu_item}}</td>
                  <td>{{order_item.quantity}}</td>
                  <td>{{order_item.price}}</td>
                  <td>
                    <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#editOrderItemModal{{order_item.id}}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
                <td>
                    <a href="{% url 'remove-from-cart' order_item.id %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
                <td>
                    
                </td>
                </tr>
                {% include "orders/edit_order_item.html" %}
                {% endfor %}
            
              </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <p>Grand Total: <b>{{order_value}}</b></p>
                    <p>Wallet Bal: <b>{{student.wallet_balance}}</b></p>
                </div>
                
                <div class="col">
                    {% if order_value > student.wallet_balance %}
                    <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#rechargeRequestModal">
                        Recharge
                    </a>
                    {% elif order_value > 0 %}
                    <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#confirmOrderModal">
                        Place Order
                    </a>
                    {% endif %}
                </div>

            </div>
            {% include "orders/confirm_order.html" %}
          </div>
    
    </div>
    <div class="col">
        <h3 class="text-center">Menu Today</h3>
        <hr/>
        <div class="row">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                      <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name ...">
                          </div>
                        <div class="col">
                          <select class="form-select">
                            <option>Drinks</option>
                            <option>Fruits</option>
                            <option>Food</option>
                          </select>
                        </div>
                        <div class="col">
                          <button class="btn btn-success">Search</button>
                        </div>
                      </div>
                      
                    </div>
                    
                  </form>
            </div>
        </div>
        <hr/>
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item</th>
                  <th scope="col">Price</th>
                 
                </tr>
              </thead>
              <tbody>
                {% for menu in page_obj %}
                <tr>
                  <td>{{menu.id}}</td>
                  <td>{{menu.item}}</td>
                  <td>{{menu.price}}</td>
                <td>
                    <td><a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addToCartModal{{ menu.id }}">
                        <i class="bi bi-cart-plus"></i>
                    </a></td>
                </td>
                </tr>
                {% include "orders/add_to_cart.html" %}
                {% endfor %}
    
              </tbody>
            </table>
            <div>
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  {% if page_obj.has_previous %}   
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                  {% endif %}
                  <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                  {% if page_obj.has_next %}    
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                  {% endif %}   
                </ul>
              </nav>
            </div>
          </div>
    </div>
</div>

{% endblock content %}