{% extends "base.html" %}

{% block additional_css %}
 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
{% endblock additional_css %}

{% block content %}

{% if quotas_generated %}

<div class="row">
  <h4 class="text-center">Find Student & Place Order</h4>
  <hr/>
  <div class="col">
    <select class="js-example-basic-single form-select" id="studentDropdown">
      {% for student in students_list %}
      <option value="{{student.id}}">{{student.user.name}} - {{student.registration_number}}</option>
      {% endfor %}
      <!-- Add more options as needed -->
    </select>
  </div>
  <div class="col">
    <button onclick="redirectToSelectedPage()" class="btn btn-success btn-sm">Place Order!</button>
  </div>
 
 
</div>
{% else %}
<a href="{% url 'generate-daily-quotas' %}" class="btn btn-info">Generate Quotas for Boarding Students</a>
{% endif %}
{% endblock content %}
{% block additional_scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        // Initialize Select2
        $(document).ready(function() {
            $('.js-example-basic-single').select2();
        });

        // Redirect to the selected page
        function redirectToSelectedPage() {
            var selectedOption = $('#studentDropdown').val();
            if (selectedOption) {
                // Assuming the page URL follows a pattern like '/student-details/{studentId}'
                window.location.href = '/orders/place-order/' + selectedOption;
            } else {
                alert('Please select a student before clicking Search.');
            }
        }
    </script>
{% endblock additional_scripts %}
