<div class="modal fade" id="editQuotaGroupModal{{group.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Quota Group</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
           <form action="{% url 'edit-quota-group'%}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">

                <input type="hidden" name="group_id" id="group_id" value="{{ group.id }}">
                
                  <div class="row mb-3">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Group Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    value="{{ group.name }}"
                    required
                  />
                </div>
                
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Amount</label>
                    <input
                      type="number"
                      class="form-control"
                      id="amount"
                      name="amount"
                        value="{{ group.amount }}"
                      min="0"
                      required
                    />
                  </div>
                  
                </div>
              
                <div class="text-center mt-3">
                  <input type="submit" class="btn btn-primary w-30" value="Submit Quota Group" />
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>