<div class="modal fade" id="newQuotaGroupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">New Quota Group</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
           <form action="{% url 'new-quota-group' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="row mb-4">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Group Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    required
                  />
                </div>
                </div>
                <div class="row mb-4">
                <div class="col">
                  <label for="student_type" class="form-label fw-bold">Student Type</label>
                  <select class="form-select" id="student_type" name="student_type" required>
                    <option value="" selected disabled>Select Student Type</option>
                    {% for type in student_types %}
                      <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                  </select>
                </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Amount</label>
                    <input
                      type="number"
                      class="form-control"
                      id="amount"
                      name="amount"
                      min="0"
                      required
                    />
                  </div>
                  
                </div>
              
                <div class="text-center mt-3">
                  <input type="submit" class="btn btn-primary w-30" value="Submit Quota Group" />
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>